@media screen and (max-width: 800px) {
  .square {
    width: 100%;
  }
}

h1 , h2 {
	color: #000000;
}

body {
  background-color: #000000;
}

.square {
	background-color: #000000;
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color : #FFFFFF;
	text-align: center;
}

.image {
	height: 70.9px;
	width: 236.2px;
	cursor: pointer;
	border-radius: 30px;
}

.image:hover {
	opacity : 0.7;
}